<div>
<div class="container border rounded" style="margin-top: 5px">
  <h2> <%= post.title %> </h2> 
  <p><%= post.text %></p>
  <div>
  <p>Comment: <%= post.comments_counter %>: Like :<%= post.likes_counter %></p>
  </div>
  <% if can? :destroy, post %>
             <%= button_to 'delete post', user_post_path(post.author, post), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <%= link_to "#{@user_search.name}", "#{@user_search.id}/posts/#{post.id}", class:"btn btn-primary" %>
  <br>

</div>
</div>