<div style="margin-top: 10px">
 <% if @user_search.nil? %>
<h4>User not found</h4>
<% else %>
<div>
<%= render partial: 'users/user', locals: { user: @user_search } %>
<div>
<% end %>
</div>
<div>
<%= @posts.each_with_index do |post, index| %>
  <div class="container border rounded" style="margin-top: 5px">
    <h4>Post #<%= index + 1 %></h4>
    <p><%= post.text %></p>
  </div>
  <div class="container border rounded" style="margin-top: 5px">
    <% if post.comments_counter > 0 %>
          <% post.five_most_recent_comments.each do |comment| %>
            <%= render 'comments', comment: comment %>
          <% end %>
    <% end %>
  </div>
<%end%>
</div>
